<%- include('../header', {pageTitle: 'List of users'}) %>

<div class="mt-4 mx-4">
  <% if (postlist[0]) { %>
    <h2 class="mb-4">All Posts of <%= postlist[0].username %></h2>
    <% postlist.forEach(el => { %>
      <div class="border-top border-gray clearfix">
        <a href="/p/<%= el.post_id %>" class="mt-3 text-muted float-left">
          <h3 class="font-weight-bold mb-0"><%= el.title %></h3>
          <p class="mb-2">@<%= postlist[0].username %></p>
        </a>
      </div>
    <% }) %>
  <% } else { %>
    <h2 class="mb-4">This user has no posts.</h2>
  <% } %>
</div>

<%- include('../footer') %>