<%- include('header', {pageTitle: post.title}) %>

<div class="mt-4 mx-4">
  <h2 class="mb-2"><%=post.title%></h2>
  <p class="border-bottom">
    <%=post.create_date.toLocaleDateString('en-GB')%> by
    <a href="/user/<%=post.user_id%>">
      <%=post.username%>
    </a>
  </p>
  <%-post.content%>
</div>

<%- include('footer') %>