<%- include('header', {pageTitle: post.title}) %>

<div class="post">
    <div class="wrap">
      <div class="post-title">
        <%=post.title%>
      </div>
      <div class="post-body">
        <p><%=post.content%></p>
      </div>
    </div>
    <div class="post-footer">
      <div class="activities">
          <a class="like icon">Like</a>
          <a class="comment icon">Comment</a> 
          <a class="share icon">Share</a>
          <!-- These links might be substituted with icons -->
      </div>
      <div class="post-info">
          <span class="timestamp"><%=post.create_date%></span> by
          <a class="author" href="/user/<%=post.user_id%>"><%=post.username%></a>
      </div>
    </div>
</div>

<%- include('footer') %>