<%- include('header', {pageTitle: 'Home Page'}) %>

<div class="container">
    <div class="profile-card">
        <div class="profile-img">
            <img src="/images/avatar_example.png" alt="Profile Image">
        </div>
        <span class="profile-name"><%=profile.first_name%> (@<%=profile.username%>)</span>
        <div class="metrics">
            <div class="posts metrics-bar"><%=profile.posts_count%> Posts</div>
            <div class="country metrics-bar"><%=(profile.country ? profile.country : 'Uganda')%></div>
            <div class="rating metrics-bar"><%=profile.rating%> rating</div>
        </div>
    </div>
</div>

<%- include('footer') %>